<%= render 'custom/header'%> 
<div class="flex-column" style = "height: auto;">
  <div class="d-flex">
  <h1 class=""> Articles </h1>
    <%= button_to "Add New Article", new_article_path, method: :get ,class:"btn btn-primary btn-sm border-0 rounded-pill shadow p-2 ml-auto" %>
  </div>
  <!--Error Message-->
  <% if flash[:errors] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>
  <!-- Article Table -->
  <div>
      <ol>
        <div class="row justify-content-center">
          <div class="col">
        <% @articles.each do |article| %>
            <div class="card mb-3 w-75">
              <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= article.body %></p>
                <a href="#" class="btn btn-primary">Add comment</a>
                <%= link_to "View", article_path(article), method: :get, class:"btn btn-primary" %>
              </div>
            </div>
        <% end %>
          </div>
        </div>
      </ol>
  </div>
</div>