<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<div class="flex-column">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center">Article Form</h2>
    </div>
    <div class="card-body">
      <!--Error Message-->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Form Started Here -->
      <%= form_with(model: @article, url: articles_path) do |f| %>
        <%= f.label :title, "Title :", class:"mt-3" %>
        <%= f.text_field :title ,placeholder: "Enter Article's Title",class:"mb-2 form-control" %>
        <br>
        <%= f.label :body, "Body :", class:"mt-3" %>
        <%= f.text_field :body ,placeholder: "Enter Article's Body",class:"mb-2 form-control" %>
        <br>
        <!-- Radio Button For Status -->
        <div class="form-group">
          <%= f.label "Status :" %>
          <%= f.radio_button :status, "0" %>
          <%= f.label :status, "Public" %>
          <%= f.radio_button :status, "1" %>
          <%= f.label :status, "Draft" %>
        </div>
        <br>
        <%= f.submit "Save Article", class:"btn-primary border-0 rounded-pill shadow p-3" %>
      <% end %>
    </div>
  </div>
</div>